.main{
  width: 100%;
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__header {
    margin-bottom: 1rem;
  }
}
